@import "bootstrap-scss";
@import '../public/assets/scss/app.scss';

header.sticky {
    // background: white;
    background-image: linear-gradient(var(--dark), var(--light));
    position: fixed;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    top: 0;
    width: 100%;
    transition: all 0.5s ease;
    animation: smoothScroll 1s forwards;

    // ul {
    //     li {
    //         a {
    //             color: #ffffff !important;
    //         }
    //     }
    // }
}